.App {
    display: flex;
    flex-direction: column;
}

.Header-Styles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(204, 240, 255);
}


.Header-styles .dark {
    background-color: #12121296;
}